{% extends 'base.html' %}

{% block content %}
    <div class="offset1">
    <h2>Project list</h2>
    <div class="span4 well">
        You logged as {{ user.email }}
        <br />
        <a class="btn" href="{% url 'logout_view' %}">Logout</a>
        <br />
        <a class="btn" href="{% url 'add_project' %}">Add new project</a>
    </div>
    <div class="span7 well">
        {% for project in projects %}
            {% if forloop.first %}<ul>{% endif %}
                <li><a href="{% url 'show_project' project.id %}">{{ project.title }}</a></li>
            {% if forloop.last %}</ul>{% endif %}
        {% empty %}
            No projects
        {% endfor %}
    </div>
    </div>
{% endblock %}