{% extends 'base.html' %}

{% block content %}
    <div class="offset1">
        <div class="span3 well">
            <strong>Project: {{ project.title }}</strong><br>
            <hr>

            <strong>Host:</strong><br>
            <input type="text" value="debugmail.info" disabled><br>

            <strong>Port:</strong><br>
            <input type="text" value="9025" disabled><br>

            <strong>Password:</strong><br> 
            <textarea disabled>{{ project.password }}</textarea><br>
        </div>
        <div class="span7 well">
            {% for letter in letters %}
                {% if forloop.first %}<ul>{% endif %}
                    <li><a href="{% url 'show_letter' letter.id %}">{{ letter.subject }}</a></li>
                {% if forloop.last %}</ul>{% endif %}
            {% empty %}
                No letters
            {% endfor %}
        </div>
    </div>
{% endblock %}