{% extends 'base.html' %}{% load humanize %}
{% block title %}Project: {{ project.title }}{% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/socket.io.js"></script>
    <script type="text/coffeescript">
        window.port = '{{ rt_port }}'
        window.uid = '{{ user.id }}'
        window.pid = '{{ project.id }}'
    </script>
    <script type="text/coffeescript" src="/static/coffee/show-project.coffee"></script>
{% endblock %}

{% block content %}
    <div class="offset1">
        <div class="span3 well">
            <strong>Project: {{ project.title }}</strong><br>
            <hr>

            <strong>Host:</strong><br>
            <input type="text" value="debugmail.info" disabled><br>

            <strong>Port:</strong><br>
            <input type="text" value="9025" disabled><br>

            <strong>Password:</strong><br> 
            <textarea disabled>{{ project.password }}</textarea><br>
        </div>
        <div class="span7 well">
            {% for letter in letters %}
                {% if forloop.first %}
                    <table class="table">
                    <thead><tr><th colspan="2"><input placeholder="Search" type="text" id="search-input"></th></tr></thead>
                {% endif %}
                    <tr class="open-row" data-letter-id="{{ letter.id }}">
                        <td>{{ letter.subject }}</td><td>{{ letter.date|naturaltime }}</td>
                    </tr>
                    <tr class="info" style="display: none;" id="{{ letter.id }}" data-letter-subject="{{ letter.subject }}">
                        <td colspan="2">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#info-{{ letter.id }}" data-toggle="tab">Info</a></li>
                                <li><a href="#content-{{ letter.id }}" data-toggle="tab">Text</a></li>
                                <li {% if not letter.html %}class="disabled"{% endif %}><a href="#{% if letter.html %}html-{{ letter.id }}{% endif %}" data-toggle="tab">Html</a></li>
                                <li><a href="#plain-{{ letter.id }}" data-toggle="tab">Plain</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active in" id="info-{{ letter.id }}">
                                    <strong>Link:</strong> <input class="input-xxlarge" type="text" value="http://debugmail.info{% url 'show_letter' letter.id %}" disabled>
                                    <a class="get-short-link" href="http://debugmail.info{% url 'show_letter' letter.id %}">Short link</a><br>
                                    <strong>From:</strong> {{ letter.sender }}<br>
                                    <strong>To:</strong> {{ letter.to }}<br>

                                    {% for key,value in letter.headers.iteritems %}
                                        <strong>{{ key }}:</strong>{{ value }}<br>
                                    {% endfor %}
                                </div>
                                <div class="tab-pane fade" id="content-{{ letter.id }}">
                                    {{ letter.content|default:"-"|linebreaks }}
                                </div>
                                <div class="tab-pane fade" id="html-{{ letter.id }}">
                                    {{ letter.html|default:"-"|safe }}
                                </div>
                                <div class="tab-pane fade" id="plain-{{ letter.id }}">
                                    {{ letter.plain|default:"-"|linebreaks }}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% if forloop.last %}
                    </table>
                    {% if has_next %}
                        <a class="btn btn-primary" id="load-more" href="#" data-project-id="{{ project.id }}">Load more</a>
                    {% endif %}
                {% endif %}
            {% empty %}
                No letters
            {% endfor %}
        </div>
    </div>
{% endblock %}