{% extends 'base.html' %}

{% block content %}
    <div class="offset1">
        <h2>Show letter</h2>
        <div class="span4 well">
            <table class="table">
                <tr><td><strong>Subject:</strong></td> <td>{{ letter.subject }}</td></tr>
                <tr><td><strong>Charset:</strong></td> <td>{{ letter.charset }}</td></tr>
                <tr><td><strong>Content-type:</strong></td> <td>{{ letter.content_type }}</td></tr>
                <tr><td><strong>From:</strong></td> <td>{{ letter.sender }}</td></tr>
                <tr><td><strong>To:</strong></td> <td>{{ letter.sender }}</td></tr>
                <tr><td><strong>Date:</strong></td> <td>{{ letter.date|date:"d.m.Y H:i" }}</td></tr>
            </table>
        </div>
        <div class="span6 well">
            {{ letter.content }}
        </div>
    </div>
{% endblock %}