{% extends 'base.html' %}

{% block content %}
    <div class="offset1">
        <div class="span3 well">
            <strong>Project: {{ project.title }}</strong><br>
            <hr>

            <strong>Host:</strong><br>
            <input type="text" value="debugmail.info" disabled><br>

            <strong>Port:</strong><br>
            <input type="text" value="9025" disabled><br>

            <strong>Password:</strong><br> 
            <textarea disabled>{{ project.password }}</textarea><br>
        </div>
        <div class="span7 well">
            {% for letter in letters %}
                {% if forloop.first %}
                    <table class="table">
                    <thead><tr><th>Subject</th><th>Date</th></tr></thead>
                {% endif %}
                    <tr>
                        <td>{{ letter.subject }}</td><td>{{ letter.date|date:"d.m.Y H:i" }}</td>
                    </tr>
                    <tr class="info">
                        <td colspan="2">
                            <strong>Link:</strong> http://debugmail.info/{% url 'show_letter' letter.id %}<br>
                            <strong>From:</strong> {{ letter.sender }}<br>
                            <strong>To:</strong> {{ letter.to }}<br>
                            <strong>Charset:</strong> {{ letter.charset }}<br>
                            <strong>Content-type:</strong> {{ letter.content_type }}<br>
                            <p>
                                {{ letter.content }}
                            </p>
                        </td>
                    </tr>
                {% if forloop.last %}</table>{% endif %}
            {% empty %}
                No letters
            {% endfor %}
        </div>
    </div>
{% endblock %}