{% extends 'base.html' %}

{% block content %}
    <div class="span3 offset4">
        <div class="well">
            <h2>Enter to matrix</h2>
            {% if error %}
                <p class="text-error">{{ error }}</p>
            {% endif %}
            <form action="{% url 'login_view' %}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="input-email">Email</label>
                    <input type="text" id="input-email" name="email" value="{{ email }}">
                </div>
                <div>
                    <label for="input-password">Password</label>
                    <input type="password" id="input-password" name="password">
                </div>
                <div><input class="btn btn-primary" type="submit" value="Login"></div>
            </form>
            <a href="{% url 'user_register' %}">Register</a>
        </div>
    </div>
{% endblock %}